
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Lista de procedimientos</b>
                </h3>
            </div>
            <ul class="list-group" ng-repeat="(key, value) in listaProcedimientos | groupBy: 'ambitonombre'">
                Grupo: <% key %>
                <li ng-repeat="lista in value"
                    ng-class="{'active':$index == selectedRowProcedimiento}"
                    ng-click="setClickedRowprocedimiento($index,lista)"
                    class="list-group-item clearfix">
                    <% lista.nombre %>
                </li>
            </ul>
<!--            <ul class="list-group">
                <li ng-repeat="lista in listaProcedimientos | orderBy : 'id'"
                   ng-class="{'active':$index == selectedRowProcedimiento}"
                   ng-click="setClickedRowprocedimiento($index,lista)"
                    class="list-group-item clearfix">

                    <% lista.nombre | limitTo:30%>...
                    <span class="pull-right">
                        <span class="badge"><% lista.numero_tareas %></span>
                        <button class="btn btn-xs btn-info" ng-click="setClickedRowprocedimiento($index,lista);open()"
                                ng-class="btn-warning"
                                ng-hide="lista.es_procedimiento==1 && !isadmin">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>

                    </span>
                </li>

            </ul>-->
            <div class="center-block">
                <button class="btn btn-block btn-info btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-lg fa-plus-circle large"></i> </button>
            </div>
        </div>
    </div>
