<!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->

<div class="col-md-3 col-sm-6 col-xs-6">
    <!--COMPLETED ACTIONS DONUTS CHART-->

    <accordion close-others="false">
        <accordion-group heading="Detalles" is-open="true">
            <accordion-heading>Detalles
                <span class="glyphicon glyphicon-folder-close"></span>
            </accordion-heading>
            <h2>Creador por:</h2><h3 ng-cloak><% selectedTarea.creadopor.full_name %></h3>
    <!-- formulario -->
    <form>
        <div class="form-group">
            <label for="nombre">Tarea</label>
            <input class="form-control" type='text' ng-model="selectedTarea.nombre">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control col-md-4" ng-model="selectedTarea.descripcion"></textarea>
        </div>
        <label for="enviado">Enviado:</label>
        <% selectedTarea.envio | dateFormat %>
        <div class="form-group">
            <label for="nombre">Fecha limite</label>
            <div class="input-group date" id="datetimepicker2">
                <ng-bs3-datepicker id="date2" data-ng-model="selectedTarea.entrega" datetime="dd/MM/yyyy hh:mm" language="es" date-format="DD/MM/YYYY HH:mm"/>
                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
            </div>
        </div>
        <div class="form-group">
            <label>Enviar recordatorio:</label>
            <div class="input-group date" id="datetimepicker1">
                <ng-bs3-datepicker id="date2" ng-model='selectedTarea.recordar' language="es" date-format="DD/MM/YYYY HH:mm"/>
                <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info" ng-click="updateTarea()">Guardar
            </button>
            <button type="submit" class="btn btn-danger " ng-click="deleteTarea()">
                <i class="fa fa-trash"></i>
            </button>

        </div>

    </form>
        </accordion-group>
        <!-- archivos -->
        <accordion-group heading="Archivos">
                <accordion-heading>Archivos
                    <span class="fa fa-files-o"></span>
                </accordion-heading>
        <div class="form-group" >
            <ul class="list-group">
                <li ng-repeat="file in files | filter:{tarea_id:selectedTarea.id}" class="list-group-item">
                    <a target="_self" href="<% file.storage_path %>" download="<% file.filename %>">
                        <% file.filename %></a>
                        <button class="btn btn-danger btn-sm" ng-click="deleteFile(file)">
                            <i class="fa fa-remove"></i>
                        </button>


                </li>
            </ul>
        </div>
        <div class="form-group">
        <input type="file" nv-file-select uploader="uploader"/><br/>
            <ul>
                <li ng-repeat="item in uploader.queue">
                    Name: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()">Subir</button>
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                    </div>
                </li>
            </ul>
        </div>
        </accordion-group>
        <accordion-group heading="Comentarios">
                <accordion-heading>Comentarios
                    <span class="fa fa-comments"></span>
                </accordion-heading>
        </accordion-group>
    </accordion>



</div><!-- /col-lg-3 -->