<div>
    <script type="text/ng-template" id="modalEditLista.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" ng-click="selectedLista.nombre.$rollbackViewValue();"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar Lista</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <label for="nombreedit" class="control-label">Nombre:</label>
                        <input type='text' id="nombreedit" ng-model="lista.nombre" class="form-control">
                        <div ng-show="is_admin">
                                <div class="checkbox">
                                    <label>
                                        <input type='checkbox' ng-model="lista.es_procedimiento" ng-true-value="1" ng-false-value="0" ng-checked="lista.es_procedimiento == 1">
                                        Procedimiento / Tareas globales
                                    </label>
                                </div>
                           <div class="checkbox">
                               <label>
                                   <input type='checkbox' ng-model="lista.activo" ng-true-value="1" ng-false-value="0" ng-checked="lista.activo == 1">
                                   activa
                               </label>
                           </div>
                            </div>
                    </div>
                </div>
                <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-md"  ng-click="ok()" data-dismiss="modal">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cerrar</button>
        </div>
    </script>

</div>
