<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Lista</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class="control-label">Nombre</label>
                            <input type='text' ng-model="lista.nombre" class="form-control">

                            <span ng-show="isadmin">
                                <div class="checkbox">
                                    <label>
                                    <input type='checkbox' ng-model="lista.es_procedimiento" ng-init="lista.es_procedimiento=false">
                                     Procedimiento / Tareas globales
                                    </label>
                                </div>
                           <div class="checkbox">
                               <label>
                                   <input type='checkbox' ng-model="lista.activo" ng-init="lista.activo=false">
                                   activa
                               </label>
                           </div>
                            </span>
                        </div>
                    </div>
                    <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-md"  ng-click="addLista(lista)" data-dismiss="modal">Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> <!-- Fin moda -->